.login-alert {
  text-align: center;
  &__link {
    color: #4285f4;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;

    &:hover {
      border-bottom-color: #4285f4;
    }
  }
}
