.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #eaeaea;

  @media (max-width: 768px) {
    padding: 15px 20px;
  }

  &__button {
    display: flex;
    align-items: center;

    &-wrapper {
      display: flex;
      flex-direction: column;
    }
    &-title {
      font-weight: 700;
      font-size: 30px;
      line-height: 25px;
      color: #4285f4;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
    &-text {
      font-size: 15px;
      color: #5c5c5c;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}
