@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar {
  &__toggle-button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;

    @media (max-width: 1024px) {
      opacity: 1;
      visibility: visible;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      width: 30px;
      height: 30px;

      &--active {
        position: fixed;
        top: 49px;
        right: 65px;

        @media (max-width: 768px) {
          right: 45px;
        }
      }
    }
  }

  &__navigation {
    display: block;
    transition: opacity 0.3s ease-in-out;

    @media (max-width: 1024px) {
      top: 0;
      left: 0;
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);

      &--hidden {
        opacity: 0;
        visibility: hidden;
      }

      &:not(&--hidden) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__profileMenu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    right: -1px;
    top: 79px;
    z-index: 10;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
    width: 100%;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;

    &-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
    }

    &-list-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      border-top: 1px solid #eaeaea;
      transition: background-color 0.3s ease;

      & button {
        width: 100%;
        padding: 10px;
      }

      &:last-child {
        border-bottom: 1px solid #eaeaea;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }

    &-name {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__profileMenu--visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  &__profile-name {
    padding: 10px;
    border-top: 1px solid #eaeaea;
    animation: slideInFromRight 0.3s ease-out forwards;
  }

  &__list-container {
    @media (max-width: 1024px) {
      padding-top: 103px;
      background: #fff;
      width: 40%;
      margin-left: auto;
      height: 100vh;
    }

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;

    &--visible {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    &-item {
      display: flex;
      justify-content: center;
      width: 105px;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 16px;
      gap: 0;

      &-item {
        width: 100%;
        border-bottom: 1px solid #eaeaea;
        animation: slideInFromRight 0.5s ease-out forwards;
      }
      &-item:first-child {
        border-top: 1px solid #eaeaea;
      }
    }
  }
}
