@use '_reset' as *;
body {
  background-color: #e7f6ff;
  font-family: 'Poppins', serif;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

#app {
  position: relative;
  background-color: white;
  border-radius: 20px;
  max-width: 1080px;
  width: 100%;
  margin: 25px;
}
html {
  overflow-y: scroll;
}
